@use 'sass:map' as map;
@use 'variables';

@function breakpoint-min($name, $breakpoints: variables.$grid-breakpoints) {
    $min: map.get($breakpoints, $name);

    @if $min != 0 {
        @return $min;
    } @else {
        @return null;
    }
}

@mixin media-breakpoint-up($name, $breakpoints: variables.$grid-breakpoints) {
    $min: #{breakpoint-min($name, $breakpoints)};

    @if $min {
        @media (min-width: $min) {
            @content;
        }
    } @else {
        @content;
    }
}
