@use '@/abstracts/color';
@use '@/abstracts/spacing';
@use '@/abstracts/size';
@use '@/abstracts/breakpoint';

.container {
    text-align: center;
    padding: spacing.$spacing-xl;
}
.title {
    margin: spacing.$spacing-m 0;
    font-size: size.$sp24;

    @include breakpoint.media-breakpoint-up(md) {
        font-size: size.$sp40;
    }
}
.message {
    margin-bottom: spacing.$spacing-m;

    font-size: size.$sp20;

    @include breakpoint.media-breakpoint-up(md) {
        font-size: size.$sp24;
    }
}
.home {
    display: inline-block;
    padding: spacing.$spacing-xs spacing.$spacing-m;
    background: color.$magenta;
    color: color.$white;
    border-radius: spacing.$spacing-xxs;
    text-decoration: none;
}
