@use 'sass:color';

$black: #000;
$dark-grey: #20201f;
$black50: #808080;
$white: #fff;
$gold: #e1ad21;
$magenta: #c34580;
$green: #137e2a;
$dark-green: #0d571d;
$vibrant: #ff0037;
$dark-vibrant: #a10325;
$transparent: transparent;

$dark-gradient: linear-gradient(132deg, #02133b 50%, #e000cb 100%);
